# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
first_number = 33
second_number = 33
print(f"Are the numbers equal by value: {first_number == second_number}")
print(f"Are the numbers equal by their memory references: {id(first_number) == id(second_number)}")

Are the numbers equal by value: True
Are the numbers equal by their memory references: True

Числа будуть рівні за значенням та посилатися на один і той самий об'єкт, бо значення обрано з проміжку від -5 до 256, а для таких малих чисел не створюються окремі об'єкти

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
i_am_true = True
print(isinstance(i_am_true, bool))
print(isinstance(i_am_true, int))

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
int_number = 4
float_number = 1.2
print(f'+: {int_number + float_number}')
print(f'-: {int_number - float_number}')
print(f'*: {int_number * float_number}')
print(f'/: {int_number / float_number}')
print(f'//: {int_number // float_number}')
print(f'%: {int_number % float_number}')
print(f'**: {float_number ** int_number}')

+: 5.2
-: 2.8
*: 4.8
/: 3.3333333333333335
//: 3.0
%: 0.40000000000000013
**: 2.0736

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
print(f'Float to int conversion: {int(float_number)}')
bool_var = False
print(f'Bool to int conversion: {int(bool_var)}')

Float to int conversion: 1
Bool to int conversion: 0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
empty_string1 = ''
empty_string2 = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
my_string = 'text\'more text'
my_raw_string = r'text\'more text'
print(my_string)
print(my_raw_string)

text'more text
text\'more text

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
my_surname = "Rakitenko"
print(f'My surname is {my_surname}')

My surname is Rakitenko

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [2]:
given_str = "My dog is crazy"
given_str_split = given_str.lower().split(" ") # lower is used to remove capital letter m
print(given_str_split)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [3]:
list1 = list((1,2,5,4))
list2 = [1,5,6]
length = len(list1)
print(length)

4

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6, 7]
list1.append(list2)
print(list1)

[1, 2, 3, [4, 5, 6, 7]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [ ]:
list_of_lists = [[1, 2], [3, 4], [5, 6]]
my_element = list_of_lists[-1][0]
print(my_element)

5

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [ ]:
my_list = [3, 4.7, "hi", True, [1,2], (1,1), {1,2,3}, None, range(3), {"name" : "Dima", "age" : 21}]
my_sublist = my_list[2: -2]
print(my_sublist)

['hi', True, [1, 2], (1, 1), {1, 2, 3}, None]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
my_first_tuple = (1, )
print(isinstance(my_first_tuple, tuple))

True

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Список є mutable типом, а кортеж - immutable. Відповідно, список доцільно використовувати, коли в ньому будуть робитися зміни після створення, такі як вставка, видалення та зміна значень елементів. Кортеж доцільно використовувати для таких даних, які не будуть змінюватись після створення та треба лише отримувати до них доступ, не змінюючи саме значення. Списки мають більшу кількість вбудованих фукнцій (як mutable тип). При цьому обидва типи зберігають послідовності елементів довільних типів, проте рекомендується в кортежах використовувати елементи одного типу.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [ ]:
my_tuple = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
my_tuple_new = my_tuple[-1: 0: -2]
print(my_tuple_new)

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
my_set = set()
my_set.add(1)
my_set.add(10)
my_set.add(2)
print(my_set)

{1, 10, 2}

Множини є змінним типом, бо ми можемо їх змінювати, проте значення в множинах мають бути незмінного типу, а також мають бути унікальними, тобто в множині не може бути дублікатів елементів, вони прибираються при конвертації та не додаються до множини.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
print(my_set)

{1, 2, 67, 8, 9}

Деякі елементи зникли, бо при конвертації списка в множину було прибрано елементи, що зустрічаються більше одного разу (1 та 67), бо в множині елементи не можуть повторюватись.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [ ]:
my_set_1 = {1,2,3,4,5,8,9}
my_set_2 = {2,3,4,6,10,9,11}
print(f'Union: {my_set_1 | my_set_2}')
print(f'Intersection: {my_set_1 & my_set_2}')
print(f'Difference: {my_set_1 - my_set_2}')
print(f'Symmetric difference: {my_set_1 ^ my_set_2}')

Union: {1, 2, 3, 4, 5, 6, 8, 9, 10, 11}
Intersection: {9, 2, 3, 4}
Difference: {8, 1, 5}
Symmetric difference: {1, 5, 6, 8, 10, 11}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [ ]:
my_dict = {True: "Bob", "two": "Ron", 3: ["Max", "John"], 3.3: 33333}
print(my_dict)

{True: 'Bob', 'two': 'Ron', 3: ['Max', 'John'], 3.3: 33333}

Список не може бути ключем, бо списки є змінним (mutable) типом, при цьому вони не хешуються, бо при зміні якогось значення в списку хеш також має змінитися, а таке не може статися в словнику. Тип ключа має хешуватися, а тому списки та словники (теж mutable тип) не можуть бути ключами, проте можуть бути значеннями.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [4]:
my_nested_dict = {1: "hi", 2: {3: "a", 4: {5: "our value"}}, 5: "bye"}
print(my_nested_dict[2][4][5])

our value

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.